/* RESET ALL CSS */

	@import url('css_reset.css');

/* LAYOUTS */

	#main-footer { display: flex; justify-content: space-around; flex-wrap: wrap; }
	#main-footer a:only-of-type { text-decoration: none; color: #12afaf; }

/* ELEMENTS */
	
	.footer { width: 100%; height: 302px; background: #171717; color: #fff; font-family: 'Open Sans', sans-serif; }
	.title { font-size: 1.2em; padding: 40px 0 20px; }
	#main-footer div ul li { list-style: none; font-size: 1.1em; }

/* PSEUDO-CLASS */

	#main-footer a:only-of-type:hover { text-decoration: underline; color: #27e3e3; }

/* MEDIA QUERIES */

@media screen and (max-width: 480px)
{
	.footer { height: auto; display: flex; justify-content: space-around; flex-wrap: wrap; }
	#main-footer { display: table-cell; text-align: center;  }
	#copyright { text-align: center; padding: 40px 0; }
}

@media screen and (min-width: 481px) and (max-width: 768px)
{
	.footer { height: auto; display: flex; justify-content: space-around; flex-wrap: wrap; text-align: center; }
	#main-footer { display: table-row; align-items: center; flex-wrap: wrap; }
	/*#main-footer { text-align: center; }*/
	#copyright { text-align: center; padding: 40px 0; }
}

@media screen and (min-width: 769px)
{
	#main-footer { width: 100%; }
	#copyright { text-align: center; }
}